@model IEnumerable<Vaga>

@{
    ViewData["Title"] = "Valor do Minuto";
}

<div class="text-center">
    <h1 class="display-4">Valor do Minuto</h1>
    <a class="btn btn-primary" asp-area="" asp-controller="Vagas" asp-action="New">Novo</a>
</div>


<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo da localização</th>
                <th>Ocupada</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CodigoLocalizacao</td>
                    <td>@(item.Ocupada ? "Sim" : "Não")</td>
                    <td>
                        <a class="btn btn-warning" asp-route-id="@item.Id" asp-action="Edit" asp-controller="Vagas">Alterar</a>
                    </td>
                    <td>
                        <form onsubmit="return confirm('Confirma?')" asp-route-id="@item.Id" asp-action="Delete" asp-controller="Vagas" method="post">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>